body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

.container {
    padding: 20px;
}

.controls {
    margin-bottom: 20px;
}

textarea {
    width: 300px;
    height: 80px;
}

button {
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 15px;
    border-radius: 10px;
}

table {
    width: 100%;
    background: white;
    color: black;
    border-collapse: collapse;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}